<h1>Practice Questions!</h1>

<p> Which of the following is the Single Responsibilty Principle?</p>
<ul>
  <% answers.each do |f| %>
  <li><%= f %></li>
  <% end %>
</ul>

<p><%= link_to 'Profile page', profile_path %></p>
